* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.full-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.header img {
  width: 550px;
  height: auto;
  object-fit: contain;
}

.header .edition {
  font-size: 33px;
  font-weight: normal;
}

.form_qtd {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.form_qtd input[type="number"] {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;

  padding-left: 5px;
  padding-right: 5px;

  text-align: center;
}

.form_qtd input::-webkit-inner-spin-button,
.form_qtd input::-webkit-outer-spin-button {
  opacity: 0.5;
  width: 6px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 20px;
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
  min-height: 450px;
  position: relative;
}

.top_bar {
  display: flex;
  justify-content: center;
}

.random {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.random ul {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 2 colunas automáticas */
  gap: 30px 50px; /* espaço entre as linhas e colunas */
  justify-content: center; /* centraliza o grid */

  padding: 0;
  list-style: none;
}

.random li {
  width: 600px;
  height: 60px;
  font-size: 28px;
  border-radius: 10px;
  background-color: aliceblue;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  transition: 0.2s;
}

.random ul:has(li:nth-child(2)) {
  justify-content: center;
}

/* Se tiver só 1 item, faça ele ocupar 1 coluna centralizada */
.random ul:has(li:nth-child(1):only-child) {
  grid-template-columns: 1fr;
  justify-content: center;
}

.random ul.odd-items li:last-child {
  grid-column: 1 / -1; /* Faz o último item ocupar as duas colunas */
  justify-self: center; /* Centraliza esse item */
}

.random li:hover {
  transition: 0.1s;
  font-size: 36px;
  padding: 15px 35px;
  box-shadow: 10px 10px 5px 2px #1c1c5c;
}

.drawer_b {
  margin-top: auto;
  align-self: center;
  justify-content: center;
  font-weight: bold;
  background-color: aliceblue;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  margin-top: 90px;
}

.drawer_b img {
  width: 30px;
  border-radius: 100%;
}

.drawer_b .play {
  background-color: #f00000;
}

.form_names {
  text-align: center;
  margin-top: 200px;
}

.form_names textarea {
  width: 500px;
  height: 500px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border: solid 3px #374667;
}

.form_names textarea.names_invisible {
  height: 34px;
}

.form_names textarea.names_visible {
  height: 500px;
}

.form_names button {
  position: absolute;
  border: solid 3px #374667;
  cursor: pointer;
  padding: 2px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 150px;
}

.buttons button {
  font-size: 18px;
  border-radius: 5px;
  border: none;
  width: 90px;
  padding: 5px 8px;
}

.buttons button a {
  text-decoration: none;
  color: black;
}

.buttons button a:visited {
  color: black;
}

@media (max-width: 2560px) {
  .random li {
    width: 600px;
    height: 60px;

    margin: 0 50px;
  }

  .random li:hover {
    font-size: 36px;
    padding: 15px 35px;
  }
}

@media (max-width: 1440px) {
  .random li {
    width: 460px;
    height: 55px;
    font-size: 23px;
    margin: 0 25px;
  }

  .random li:hover {
    font-size: 28px;
  }
}

@media (max-width: 1024px) {
  .random li {
    width: 400px;
    height: 50px;
    font-size: 20px;
    margin: 0 30px;
  }

  .random li:hover {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .header img {
    width: 500px;
  }

  .header .edition {
    font-size: 25px;
  }

  .random li {
    width: 300px;
    height: 50px;
    font-size: 17px;
    margin: 0 5px;
  }

  .random li:hover {
    font-size: 18px;
  }
}

@media (max-width: 623px) {
  .header img {
    width: 400px;
  }

  .header .edition {
    font-size: 20px;
    font-weight: normal;
  }

  .random li {
    width: 200px;
    height: 40px;
    font-size: 19px;
    margin: 0;
  }

  .random ul {
    display: flex;
    flex-direction: column; /* um abaixo do outro */
    align-items: center; /* centraliza horizontalmente */
    gap: 20px; /* espaço entre os nomes */
    list-style: none;
    padding: 0;
  }

  .random li {
    width: 400px;
    height: 60px;
    font-size: 17px;
    border-radius: 10px;
    background-color: oklab(97.515% -0.0055 -0.01152);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s;
  }

  .random li:hover {
    transition: 0.1s;
    font-size: 20px;
    padding: 15px 20px;
    box-shadow: 10px 10px 5px 2px #1c1c5c;
  }

  .form_names textarea {
    width: 350px;
    height: 500px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border: solid 3px #374667;
  }
}

@media (max-width: 425px) {
  .header img {
    width: 300px;
  }

  .header .edition {
    font-size: 17px;
  }

  .random li {
    width: 350px;
    height: 50px;
    font-size: 18px;
    margin: 0 5px;
  }

  .random li:hover {
    font-size: 19px;
  }
}

@media (max-width: 375px) {
  .header img {
    width: 300px;
  }

  .header .edition {
    font-size: 15px;
  }

  .random li {
    width: 300px;
    height: 50px;
    font-size: 17px;
    margin: 0 5px;
  }

  .random li:hover {
    font-size: 18px;
  }

  .form_names textarea {
    width: 290px;
    height: 500px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border: solid 3px #374667;
  }
}
